{% extends 'base.html.twig' %}

{% block title %}VertDemain - Inscription{% endblock %}

{% block body %}
<!-- contact section start -->
   <div class="contact_section layout_padding">
      <div class="container">
         <h1 class="contact_taital">S'inscrire</h1>
         <div class="email_text">
         {{ form_errors(registrationForm) }}
         {{ form_start(registrationForm) }}
         {{ form_row(registrationForm.username) }}
         {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
         }) }}
         {{ form_row(registrationForm.agreeTerms) }}
            <button type="submit send_btn" class="btn">S'inscrire</button>
            {{ form_end(registrationForm) }}
         </div>
      </div>
   </div>
   <!-- contact section end -->
    
{% endblock %}
