{% extends 'base.html.twig' %}

{% block title %}VertDemain - Profil{% endblock %}

{% block body %}
<div class="contact_section layout_padding">
    <h1 class="contact_taital mb-5">Bienvenue sur votre profil, <span style="color:#79C524;">{{ user_data.username }}</span></h1>
<div class="client_section_2 container">
    <div class="question">
        <div class="titleQuestion">

        {% for item in app.user.quiz %}
            {% if item.result >= 5  %}
                <h2 style="color:#79C524;">Quiz n°{{loop.index}} | {{item.result}}/10</h2> 
            {% else %}
                <h2>Quiz n°{{loop.index}} | {{item.result}}/10</h2> 
            {% endif %}
        {% endfor %}
            <!-- Nombre de quiz réalisé: -->

            <h2>
                {% if user_data.certificat == false %}
                    Vous ne possédez pas de certificat pour le moment... mais vous pouvez toujours en obtenir un en passant notre <a href="{{ path('app_quiz') }}">quiz</a> !

                {% elseif user_data.certificat == true %}
                    Vous possédez un <a href="{{ path('app_certificat') }}" style="color:#79C524;">certificat</a>. Félicitation !
                {% endif %}
            </h2>
        </div>
    </div>
    <div class="liste-quiz">
        {% for quiz in user_data %}
            
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}